html {
    font-size: 15px;
}
nav {
    height: 64px;
    line-height: 64px;
    color: #fff;
    background-color: #273c59;
    width: 100%;
    display: block;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}
.container {
    width: 70%;
    margin: 0 auto;
    max-width: 1280px;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}
img {
    height: 40px;
    border: 0px;
}

a {
    background-color: transparent;
    text-decoration: none;
}

.right {
    float: right !important;
}
nav ul {
    margin: 0;
}
ul {
    padding: 0;
}
ul {
    list-style-type: none;
}

nav ul li.active {
    background-color: rgba(0,0,0,0.1);
}
nav ul li {
    transition: background-color .3s;
    float: left;
    padding: 0;
}
ul li {
    list-style-type: none;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

*, ::before, ::after {
    box-sizing: inherit;
}
